body {
  background-image:<?php echo base_url()?>assets/img/applause.jpg ?>;
  background-size: 700px;
  background-repeat: no-repeat;
  text-align: left;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.kotak {
	background-color: white;
	height: 400px;
	width: 500px;
	margin-left: 100px;
}